# ===========================
# 🐍 PYTHON & SISTEMA
# ===========================
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# ===========================
# 🛠️ ENTORNOS & SECRETOS
# ===========================
venv/
env/
.env
.vscode/

# ===========================
# 🦅 MODELOS & PESOS (Heavy Files)
# ===========================
# Ignoramos todos los .pth dentro de weights
weights/*.pth
# Ignoramos carpeta de datos de PANNs si se generara sola
panns_data/

# ===========================
# DATOS TEMPORALES APP
# ===========================
# Ignorar audios de los usuarios/pruebas
temp/

# ===========================
# EXPERIMENTOS
# ===========================
# Ignoramos datos pesados de entrenamiento, pero MANTENEMOS los scripts (.py)
experiments/*.csv

# ===========================
# STREAMLIT
# ===========================
.streamlit/secrets.toml
# .streamlit/config.toml  <-- (Descomenta si quieres guardar tu tema visual en git)